$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

  background-image: url("/images/sectionbg.png");
  background-position: center;
  //background-size:cover;
  background-attachment: fixed;
  font-size:1.5em;
}
.container-fluid{
  padding:0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  top:0;
  //border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  // bottom:0;
  // padding-top: 19px;
  // color: #777;
  // border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .container {
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  // .header,
  // .footer {
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  // /* Space out the masthead */
  // .header {
  //   margin-bottom: 30px;
  // }
}

@media screen and (max-width: 991px) {
  
  .container{
    width: 100%;
  }
}

#apply{
  position: absolute;
  width: 200px;
  bottom:10%;
  left: 50%;
  margin-left: -100px;
  color: #fff;

}
#menu{
  li{
    border-right: dotted 1px #ccc;
  }
}

#schedule{
  table{
    font-size:1.1em;
    color: #666;  
    td, th{
      border-color: #999;
    }
    tr:hover{
      background-color: rgba(255,255,255,0.3);
    }
  }
  
}

#fp-nav ul li a span{
  background-color:#fff;
}

.section{
  $mask: lighten(rgb(113,201,232),10%);
  background-color:transparentize($mask,0.3);
  color: #fff;
  padding: 80px 0;
}

.section#top{
  height: 100vh;
  width: 100vw;
  background-image: url("/images/titlelogo.png");
  background-position: center;
  background-size: cover;    
}

blockquote{
  footer{
    color:#eee;
  }
}
.gear{
  position:absolute;
  z-index: 9;
}
#gear1.gear{
    left:-13%;
    width: 25%;
  }
#gear2.gear{
    left:-8%;
    width: 20%;
  }
#schedule{
  color:#333;
}

#location{
  width: 40vh;
  .panel-title, .panel-footer{
    color: #999;
  }
  .panel-body{
    height: 40vh;
    #map{
      width: 100%;
      height: 100%;
    }
  }
}
.btn{
  background: transparent;
    }
.btn-default{
  border:1px solid #fff;
  font-size: 1.5em;
    &:hover{
      border:1px solid #fff;
      background-color: rgba(255,255,255,0.3);
    }
  }
  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;
}
